{% extends "base.html" %}
{% block content %}
<h2>Counters</h2>
<p>
  In addition to alerts, you can track metadata about your accounts -- number of sponsors, patrons, and so on. All trackers are included in output in the <a href="/label_manager">Label Manager</a> Chrome App.</p>
<p>Simply click "Add" next to any supported tracker, and it will immediately be added to the label manager app; or you can simply display it in your website via the provided widget.</p>
<h3>Supported Trackers</h3>
<ul>
  <li>YouTube Likes - Will track the current number of likes on the active listream on your channel. Never again forget to update the video ID so you can get the right number of likes. When you switch livestreams, updates in seconds.</li>
  <li>YouTube Viewers - Will track the current number of viewers on the active listream on your channel. Never again update a video ID in a URL in order to update your viewer tracker!</li>
  <li>YouTube Subscribers - Will display the current number of YouTube subscribers for your account.</li>
</ul>  

<h3>Current Configured Trackers</h3>
<ul>
{% for meta in metas %}
  <li>{{meta.get_type_display}} for {{meta.appcreds.label}}: {{meta.display}} <br /><span style="padding-left:50px; font-size: .8em"><a href="/recent_popup?id={{meta.id}}&key={{key}}&version=2&type=meta">embed widget</a> <a href="/meta/meta/{{meta.id}}">edit display</a> (label: <tt>meta-{{meta.type}}-{{meta.id}}</tt>)</span></li>
{% endfor %}  
</ul>
<h3>Add additional trackers</h3>
<ul>
  <li>YouTube Subscribers<ul>
{% for appcred in appcreds_subs %}
<form method="POST">{% csrf_token %}
 <li>Track YouTube Subscribers for {{appcred.label}}
 <input type="hidden" value="youtubesubs" name="type" />
 <input type="hidden" value="{{appcred.id}}" name="id" />
 <input type="submit" value="Add" />
 </li>
</form>
{% endfor %}
</ul></li>
<li>YouTube Viewers/Concurrents:
<ul>
{% for appcred in appcreds_viewers %}
<form method="POST">{% csrf_token %}
 <li>Track YouTube Viewers for {{appcred.label}}
 <input type="hidden" value="youtubeviewers" name="type" />
 <input type="hidden" value="{{appcred.id}}" name="id" />
 <input type="submit" value="Add" />
 </li>
</form>
{% endfor %}
</ul></li>
<li>YouTube Likes:
<ul>
{% for appcred in appcreds_likes %}
<form method="POST">{% csrf_token %}
 <li>Track likes for active livestream for {{appcred.label}}
 <input type="hidden" value="youtubelikes" name="type" />
 <input type="hidden" value="{{appcred.id}}" name="id" />
 <input type="submit" value="Add" />
 </li>
</form>
{% endfor %}
</ul></li>
</ul>
{% endblock %}
